.BodyBackground {
    position: fixed;        
    bottom: 5vh;                
    top: 10vh;
    right: 0;                
    width: calc(100vw - var(--sidebar-width) - var(--sidebar-margin));           
    height: calc(var(--body-height) - var(--footer-height) - var(--header-height));           
    background-color: var(--body-color); 
    display: flex;          
    align-items:start;
}