.FooterBackground {
    position: fixed;        
    bottom: 0;               
    right: 0;               
    width: calc(100vw - var(--sidebar-width) - var(--sidebar-margin));         
    height: var(--footer-height);           
    background-color: var(--footer-color); 
    display: flex;          
    align-items: center;
}