.HeaderBackground {
    position: fixed;        /* делает хедер "прилипшим" к верху */
    top: 0;                 /* прижимает к самому верху */
    right: 0;                /* растягиваем от левого края */
    width: calc(100vw - var(--sidebar-width));           /* во всю ширину экрана */
    height: 10vh;           /* 10% от высоты экрана */
    background-color: var(--header-color); /* светлый фон — не черный */
    display: flex;          /* чтобы удобно размещать текст */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* лёгкая тень снизу */
}